# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Tauri / Rust specific
src-tauri/target/
node_modules/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
